  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {paddding:70px;}


.headingPH {
    font-weight: bold;
    font-size: 30px;
    padding: 25px 0;
}

.paragrafi {
    font-weight: lighter;
    font-size:20px;
    padding-bottom: 30px;
}
/*Inizio styling Navbar*/

.navbar {
  margin-bottom: 0px;
}

.navbar-brand img{
  height: 100%;
}

.btn-group .btn:first-child {
  border: 2px solid #006aff;
  color: #006aff;
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-nav > li > a {
  font-weight: bolder;
}

/*Fine Heder*/
/*Inizio container blu */
.container {
  width:80%;
  margin: 0 auto ;
}

#acquarius {
  background-color:#0069ff;
  background-image: url("https://www.digitalocean.com//static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center;
}

#jumbotron-left {
  padding: 230px 0;
  background-color: transparent;
  color: white;
}

.form-signin {
  padding: 0;
  background-color: white;
  margin-top:100px;
  border-radius: 5px;
}

.form-group:first-child {
  margin-top: 20px;
}

.form-signin h3 {
  background-color: #f3f5f9;
 font-size: 25px;
 font-weight: bold;
 border-radius: 6px 6px 0 0;
 margin: 0;
 padding: 20px 0;
}

.form-group {
  width:80%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form-group input {
    font-size: 20px;
    padding: 20px 0 20px 10px;
    border: 1px solid #e5e8ed;
}

form button {
  width:80%;
  color: white;
  font-weight: bold;
  background-color: #0069ff;
  border: 1px solid #0069ff;
  padding:12px 0;
}

.sign-up-google {
  margin: 3px 0;
  color: black;
  background-color: white;
}

/*Fine Jumbotrom*/

/*inizio logo grid*/

.grid {
    width:100%;
    background-color: #f3f5f9;
    /*Da cancellare*/


}

.h3, h3 {
    margin:0;
    padding: 50px 0;
    font-size: 20px;
}

.h5, h5 {
    padding:30px 0;
}



/*Fine logo grid*/





/*Inizio styling menu left , e i due box*/

.main {
    background-color: #ffffff;
}

#float-menu > li {
    margin: 0;
    padding: 20px 10px;
    border-left: 1px solid grey;
}

#float-menu >li:first-child{
    border-left: 2px solid blue;
}

.nav-stacked > li + li {
    margin: 0;
}

.header-grid > h2{
    padding:25px 0px;
}



.card {
    height: 220px;
}

/*Fine styling*/

/*Inizio styling display*/
.display {
    background-color: #f3f5f9;
}



.glyphicon-arrow-left{
    font-size:30px;
    float: left;
}

.glyphicon-arrow-right{
    font-size:30px;
    float: right;
}

.container-img > img {
    max-width: 100%;
    max-height: 100%;
}

.subRow {
    width: 80%;
    margin: 0 auto;
}

.subRow > h6 {
    font-size: 15px;
    font-weight: bolder;
}

.inner {
    display: inline-block;
}

.button-list {
    width: 100%;
    margin: 45px 0;
    text-align: center;
}

.dot {
    border-radius: 100%;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 3px;
    cursor: pointer;
    outline: 0;
    margin: 0 6px;
    background-color: transparent;
    border: 2px solid #0069ff;
}

.selected {
    background-color: #0069ff;
}
/*Fine style display*/


/*Inizio Style card container*/

.second-card {
    padding-bottom: 100px;
}

.second-card  h4 {
    padding: 15px 0 ;
}

.second-card p {
    font-size: 15px;
    padding: 10px 55px 10px 0px;
}

/*Fine style card container */

/*Inizio style trading*/
#trading {
    /*background-image: url("https://www.thefranchizery.com/wp-content/uploads/2016/01/30407-world-map-1920x1080-digital-art-wallpaper.jpg");*/
    background-size: cover;
    background-color: #031b4e;
}

.trading-head > h2 {
    color: white;
}

.trading-head p {
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

.trading-line {
    padding: 5px 0;
    border-bottom: 0.5px solid #354971;
}

.grid-2 {
    display:grid;
    grid-template-columns: auto auto;
    background-color: inherit;
    grid-column-gap: 10px;
    padding: 30px 0;
}

.gef_cod {
    color: white;
}

.gef_city {
    color: #627191;
}

.gef_ts {
    color: #00b9bd;
}

/*Fine Trading*/

/*Inizio Secondo display*/

.second-display {
    background-color: #f3f5f9;
}

.image-display {
    background-color: #ffffff;
    padding:40px;
}

.image-display img {
    padding: 50px;
    max-width: 100%;
    max-height:100%;
}

.image-display {
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

.founder h5 {
    padding-bottom: 10px;
}

.founder h6 {
    font-weight: lighter;
}

/*Fine Dispaly*/

/*Inizio Blue banner */

#blue-banner {
    background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format);
    background-color: #0069ff;

}


.create-account {
    margin: 35px;
    padding: 10px;
    color:#0069ff;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.center {
    color: white;
}


/*Fine blue banner*/



/*Inizio Footer*/

#foot {
    background-color: #010e28;
}

.container-menu {
    border-bottom: 0.5px solid white;
}

.list {
    padding:10px 20px;
}

.list ul li {
    list-style-type: none;
}

.list a {
    text-decoration: none;
    color: #808794;
}

.list h5 {
    color: white;
}

.logo-copy img {
    display: inline-block;
}

.logo-copy p {
    display: inline-block;
}

.link-footer ul {
    margin-top: 10px;
    padding: 0;
    float: right;
}

.link-footer li {
    margin-right: 5px;
}

.link-footer a {
    font-size: 22px;
}

/*Fine Footer*/
@media screen and (max-width: 992px) {
    .glyphicon-arrow-left{
        display: none
    }

    .glyphicon-arrow-right{
        display: none;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .second-button {
        text-align: center;
    }

    .center {
        text-align: center;

    }
}

@media screen and (min-width: 992px) {
    .logo-copy {

    }
}
